/*
font-family: 'Press Start 2P', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Bungee', sans-serif;
*/
/*FOR DEBUGGING WIREFRAME*/
/*div {
  border: 1px solid green;
  box-sizing: border-box;
}
div > div {
  box-sizing: border-box;
  border: 1px solid blue;
}
div > div > div {
  box-sizing: border-box;
  border: 1px solid red;
}
div > div > div > div {
  box-sizing: border-box;
  border: 1px solid yellow;
}
div > div > div > div > div {
  box-sizing: border-box;
  border: 1px solid pink;
}
canvas {
  box-sizing: border-box;
  border: 1px solid teal;
}*/

@font-face {
  font-family: 'Press Start 2P';
  src:
    local('Press Start 2P'),
    url('./assets/fonts/PressStart2P.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Play';
  src:
    local('Play'),
    url('./assets/fonts/Play.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Bungee';
  src:
    local('Bungee'),
    url('./assets/fonts/Bungee.ttf')
    format('truetype');
}

@font-face {
  font-family: 'TitilliumBlack';
  src:
    local('Titillium'),
    url('./assets/fonts/TitilliumWeb-Black.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Titillium';
  src:
    local('Titillium'),
    url('./assets/fonts/TitilliumWeb-SemiBold.ttf')
    format('truetype');
}


body {
  background: url('./textures/menubg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  font-family: sans-serif;
  color: white;
  margin: 0;
}

#app {
  margin: 0;
}

h3 {
  font-weight: normal;
}

canvas {
  margin: auto;
}

/*----------------------BUTTONS----------------------*/

.btn {
  display: inline-block
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .25s;
}

.btn-xs {
  display: inline-block
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid transparent;
  padding: .15rem .25rem;
  font-size: .75rem;
  border-radius: .1rem;
  transition: all .25s;
}

.btn-md {
  display: inline-block
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid transparent;
  padding: .25rem .45rem;
  font-size: 1rem;
  border-radius: .15rem;
  transition: all .25s;
}

.btn-primary {
  color: white;
  background-color: #0275d8;
  border: 1px solid #0275d8;
}

.btn-primary:hover {
  background-color: #025aa5;
  border-color: #01549b;
}

.btn-success {
  color: white;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-success:hover {
  background-color: #449d44;
  border-color: #419641;
}

.btn-warning {
  color: white;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btn-warning:hover {
  background-color: #ec971f;
  border-color: #eb9316;
}

.btn-danger {
  color: white;
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-danger:hover {
  background-color: #c9302c;
  border-color: #c12e2a;
}

/*-------------------HUD--------------------------*/

#screenOverlay {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  -webkit-user-select: none; /* Chrome/Safari unSelectable Text*/
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

#HUD {
  pointer-events: none;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
}

#victoryBox {
  pointer-events: none;
  margin: 0 auto;
  position: absolute;
  top: 0;
  display: block;
  z-index: 4;
  width: 100%;
  height: 0;
  opacity: 0;
  text-align: center;
  color: white;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 40px;
  transition: all 2s;
}

#victor {
  font-size: 25px;
  margin-top: 20px;
}

.playerBoxContainer {
  pointer-events: none;
  text-align: center;
  width: 380px;
  height: 125px; /*90px*/
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.playerBox {
  margin: 0px 5px;
  display: inline-block;
  position: relative;
  text-align: left;
  transition: opacity 2s ease-in;
  width: 80px;
  opacity: 0;
}

.playerBox > img {
  display: inline-block;
  float: left;
  z-index: 2;
  width: 80px;
  height: auto;
}

.playerLives {
  width: 65px;
  height: 17px;
  position: absolute;
  z-index: 4;
  top: 64px;
  left: 15px;
}

.playerLives img {
  width: 16px;
  height: auto;
  margin: 4px 0 0;
  transition: all 1s;
}

.playerNameBox {
  position: absolute;
  top: 51px;
  left: 0;
  width: 80px;
  height: 29px;
  text-align: center;
}

.playerName {
  font-family: 'Play', sans-serif;
  font-size: 11px;
  color: white;
  z-index: 6;
  text-shadow: 1px 1px black;
}

.playerPercentBox {
  position: absolute;
  top: 81px;
  left: 0px;
  width: 80px;
  height: 35px;
  text-align: center;
}

.playerPercent {
  height: 35px;
  font-size: 16px;
  font-family: 'TitilliumBlack', sans-serif;
  text-shadow: 1px 1px black;
}

.playerScoreBox {
  position: absolute;
  top: 98px;
  left: 0px;
  width: 80px;
  height: 35px;
  text-align: center;
}

.playerScore {
  height: 35px;
  font-size: 11px;
  font-family: 'Play', sans-serif;
  text-shadow: 1px 1px black;
}

.crosshairContainer {
  width: 41px;
  height: 15px;
  margin: 0 auto;
  padding-right: 4px;
  display: block;
  text-align: center;
}

#crosshair {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 1px;
}
.jumpBox {
  width: 5px;
  height: 15px;
  display: inline-block;
  margin-right: 6px;
  margin-top: -3px;
  float: left;
  line-height: 8px;
}

#jump1, #jump2, #jump3 {
  display: block;
  color: white;
  margin: 2.5px 0;
  font-size: 1.9px;
  width: 0px;
  height: 0px;
  border-bottom: 5px solid white;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: all .25s;
}
.ammoBox {
  display: inline-block;
  margin-left: 5px;
  margin-top: -2px;
  height: 15px;
  width: 5px;
  float: right;
}

#ammo1, #ammo2, #ammo3 {
  display: block;
  border-radius: 50%;
  background-color: white;
  width: 5px;
  height: 5px;
  margin: 2px 0;
  transition: all .25s;
}

#gameMenuContainer {
  width: 100%;
  height: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: block;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;

  text-align: center;
}

.menu-title {
  pointer-events: none;
  margin-top: 4%;
}

#panel-heading {
  background-color: rgba(165, 63, 54, 0.8);
  font-size: 30px;
  border-radius: 0px;

}
.menu-name {
  font-size: 40px;
  color: white;
  padding: 10px;
}

.menu {
  background-color: rgba(165, 63, 54, 0.8);
  border-radius: 0px;
  font-size: 23px;
  display: block;
  width: 30%;
  padding: 5px;
  margin: auto;
  color: white;
  font-family: 'Press Start 2P', sans-serif;
}

#resume:hover, #exit:hover {
  color: rgb(211,211,211);
  cursor: pointer;
}

.menu-descr {
  font-size: 10px;
  padding: 10px;
}

.version {
  position: absolute;
  bottom: 5.5%;
  left: 2%;
  color: white;
}

.createdBy {
  position: absolute;
  bottom: 2%;
  left: 2%;
  color: white;
}

/*-----------------------------------------Login Page------------------------------------------*/

.logInContainer {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top:4%;
}

.logInContainer > img {
  margin: auto;
}

#Guest {
  margin-top: 20px;
}

#LogIn {
  margin-top: 4%;
  text-align: center;
}

/*--------------------------------Home Page---------------------------------------------------*/

#HomePage {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top:4%;
}

#NonSelect {
  pointer-events: none;
}

#joinButtons {
  text-align: center;
}

#createMatch, #joinMatch {
  margin-right: 5px;
}

#LeaderBoardButton {
  margin-top: 5px;
}

#About {
  margin-top: 5px;
}

#username {
  float: left;
  text-align: left;
  width: 150px;
  font-size: 20px;
}

#ProfileHome {
  display: flex;
  align-items: center;
}

#ProfileImgHome {
  height: 53px;
  width: 53px;
  margin-left: 5px;
  border-radius: 10px;
  border-width: 2px;
  border-style: outset;
  pointer-events: none;
}

#Profile {
  position: absolute;
  top: 10px;
  color: black;
  right: 25px;
  padding: 5px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 190px;
}

#ImgHomeDiv {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}

.profileBox {
  float: right;
  position: relative;
  margin: 5px;
}

#Settings {
  float: right;
  margin: 3px 5px 0 0;
}

#SettingsButton {
  float: left;
  width: 15px;
  height: 15px;
  padding: 2px;
  margin: 2px;
  cursor: pointer;
}

#storeButtonHome {
  float: left;
  width: 15px;
  height: 15px;
  padding: 2px;
  margin: 2px;
  cursor: pointer;
}

#SignOut {
  margin: 2px;
  float: left;
  cursor: pointer;
}

/*---------------------------------Menu Layout--------------------------------------------------*/

.menuContainer {
  margin-top: 14%;
  text-align: center;
}

.menuBackground {
  margin: 0 auto;
  height: 425px;
  width: 600px;
  z-index:-1;
  background: -moz-linear-gradient(53deg, rgba(22,112,186,1) 0%, rgba(2,13,61,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(22,112,186,1)), color-stop(100%, rgba(2,13,61,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(53deg, rgba(22,112,186,1) 0%, rgba(2,13,61,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(53deg, rgba(22,112,186,1) 0%, rgba(2,13,61,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(53deg, rgba(22,112,186,1) 0%, rgba(2,13,61,1) 100%); /* ie10+ */
  background: linear-gradient(37deg, rgba(22,112,186,1) 0%, rgba(2,13,61,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020D3D', endColorstr='#1670BA',GradientType=0 );
  border-radius: 20px;
}

.buttonBox {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.buttonBox > h1 {
  display: inline-block;
  text-align: center;
  padding: 0 10px;
  margin: 15px 40px;
  font-weight: normal;
}

.homeBtn {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 15px;
}

.selectSkinBtn {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
}

.storeStars {
  margin-bottom: 20px;
}


/*---------------------------------Leaderboard--------------------------------------------------*/

#LeaderBoardUserNameTitle {
  font-size: 20px;
}

#LeaderBoardScoreTitle {
  font-size: 20px;
}

#DataLeader {
  height: 200px;
  width: 400px;
  margin-top: 20px;
}

#LeaderBoardUser {
  height: 100px;
  display: inline-block;
  margin-left: 180px;
}

#LeaderBoardScore {
  height: 100px;
  display: inline-block;
  margin-left: 40px;
}

#LeaderBoardDataScore {
  margin-top: 13px;
  font-size: 15px;
}

#LeaderBoardDataUser {
  margin-top: 13px;
  font-size: 15px;
}

/*-----------------------Create Match------------------------*/

#StartMatch {
  margin-top: 0px;
}

#StartMatch .btn {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}

#ChooseMap {
  display: inline-block;
  margin: 10px 0;
  font-size: 14px;
}

#maps {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 560px;
  height: 225px;
  border: 1px solid black;
  margin: auto;
}

.mapSelectContainer {
  width: 560px;
  height: 220px;
  border-radius: 20px
  background-color: white;
  margin: auto;
}

.mapThumbContainer {
  width: 560px;
  height: 220px;
  margin: 5px 0 0 0;
}

.mapThumbBox {
  display: inline-block;
  margin: 4px;
  cursor: pointer;
}

.mapThumb {
  height: auto;
  width: 173px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: all .25s;
}

.mapThumb:hover {
  border: 2px solid black;
}

#selectMapPreview {
  width: 173px;
  height: auto;
  margin: 0 auto;
  pointer-events: none;
  padding: 10px 0 1px;

}

#selectedMap {
  margin: 0 auto;
  height: 195px;
  width: 185px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 5px;
  cursor: pointer;
  color: black;
}

#MapSelector {
  display: none;
  text-align: center;
}

/*--------------------------Join Match---------------------------------------*/

.JoinMatchHeader {
  margin: 20px 0;
}

.JoinMatchBody {
  height: 220px;
  overflow-y: auto;
}

.JoinMatchSpan {
  display: inline-block;
  width: 150px;
  margin: 5px 0;
}

btn-refresh {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#refreshButton {
  width: 14px;
}

.JoinMatchSpan img {
  width: 50px;
}

.JoinMatchBox {
  display: flex;
  align-items: center;
}

/*----------------------Store--------------------------------*/

.SkinPic {
  height: 140px;
  width: 140px;
  margin-top: 10px;
  pointer-events: none;
}

#Skins {
  margin: 20px auto;
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 580px;
  background-color: white;
  opacity: 1;
  color: black;
}

.Skin {
  display: inline-block;
  width: 160px;
  margin: 5px 0 15px;
}

.SkinName {
  margin: auto;
  font-size: 16px;
  background-color: black;
  width: 140px;
  padding: 5px 0;
  margin-top: -5px;
  margin-bottom: 5px;
  color: white;
}

.SkinButton {
  width: 140px;
  text-align: center;
}

.SkinCost {
  background-color: black;
  width: 140px;
  margin: 0 auto 5px;
}

#storeButton {
  margin-left: 10px;
}

#buyButton {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Settings*/
/*-----------------------------------------------------------------------*/

.SettingsButtons {
  margin: 45px 0;
}

.SettingsButtons > h3 {
  margin: 15px 0;
}

.gfxBtn {
  display: inline-block;
  margin: 0 5px;
  width: 100px;
}

.gfxBtn:hover {
  -webkit-box-shadow: 0px 4px 2px 0px rgba(255,255,255,.75), 0px -4px 2px 0px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 4px 2px 0px rgba(255,255,255,0.75), 0px -4px 2px 0px rgba(255,255,255,0.75);
  box-shadow: 0px 4px 2px 0px rgba(255,255,255,0.75), 0px -4px 2px 0px rgba(255,255,255,0.75);
}

.gfxBtnActive {
  -webkit-box-shadow: 0px 4px 2px 0px rgba(255,255,0,.75), 0px -4px 2px 0px rgba(255,255,0,0.75);
  -moz-box-shadow: 0px 4px 2px 0px rgba(255,255,0,0.75), 0px -4px 2px 0px rgba(255,255,0,0.75);
  box-shadow: 0px 4px 2px 0px rgba(255,255,0,0.75), 0px -4px 2px 0px rgba(255,255,0,0.75);
}

/*-----------------------------------GAMEOVER----------------------------------------*/

#GameOver {
  text-align: center;
  margin: auto;
}

#PlayerWins {
  display: inline-block;
  margin: 0px 0 30px;
  font-size: 22px;
  font-family: 'TitilliumBlack', sans-serif;
  letter-spacing: 1px;
  border-radius: 20px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  box-shadow: 2px 2px black, -2px -2px blue;
  width: 275px;
}

.GameOverBox {
  font-family: 'Titillium', sans-serif;
  letter-spacing: 1px;
  height: 200px;
  text-align: center;
  margin-right: 30px;
}

.GameOverSpan {
  display: inline-block;
  margin: 5px;
  width: 150px;
}

.GameOverTitle {
  font-size: 22px;
}

.GameOverUsername {
  text-align: right;
  display: inline-block;
  font-size: 18px;
}

.GameOverBar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2473b7+0,6ca4c9+100 */
  background: #2473b7; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #2473b7 0%, #6ca4c9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #2473b7 0%,#6ca4c9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #2473b7 0%,#6ca4c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2473b7', endColorstr='#6ca4c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  width: 0px;
  height: 12px;
  margin: 0 5px;
  display: inline-block;
  border-left: 2px solid #0275d8;
  transition: all 4s ease-out;
}

.GameOverBarBox {
  display: flex;
  align-items: center;
  width: 500px;
  display: inline-block;
  text-align: left;
  height: 15px;
}

.GameOverScore {
  text-align: left;
  display: inline-block;
  margin: 0 5px;
  font-size: 20px;
}

.playAgainBox {
  position: relative;
}
.playAgainBtn {
  bottom: 0px;
}


/*------------------------ABOUT----------------------*/

.aboutBox {
  display: inline-block;
  margin: 0 auto;
  /*height: 120px;*/
  width: 220px;
  text-align: left;
}

.aboutBoxContainer {
  width: 500px;
  margin: -20px auto;
  height: 100px;
  display: flex;
  align-items: center;
}

.descBox {
  width: 440px;
  margin: 0 auto 40px;
}

.wasd {
  width: 125px;
}

.aboutMenu {
  margin-top: 40px;
  font-size: 17px;
}